
.formTitle {
	width: 60%;
	padding: 2px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	background-color: #f8f8f8;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.formTextarea {
    width: 60%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
